---
layout: layout
---

<h1>Research</h1>
<% sitemap.where(:layout.include => "project").all.each do |proj| %>
  <% if proj.data.category == "research" %>
    <h3><%= link_to proj.data.title, proj.path %></h3>
    <% if proj.data.teaser %>
      <%= link_to image_tag(proj.data.teaser), proj.path %>
    <% end %>
    <%= proj.data.summary %>
    <%= partial "project_links", :locals => {:proj => proj.data} %>
  <% end %>
<% end %>

<h1>Other</h1>
<% sitemap.where(:layout.include => "project").all.each do |proj| %>
  <% if proj.data.category != "research" %>
    <h3><%= link_to proj.data.title, proj.path %></h3>
    <% if proj.data.teaser %>
      <%= link_to image_tag(proj.data.teaser), proj.path %>
    <% end %>
    <%= proj.data.summary %>
    <%= partial "project_links", :locals => {:proj => proj.data} %>
  <% end %>
<% end %>

