
- content_for :js do
  = javascript_include_tag 'post'

- wrap_layout :layout do
  %nav.blog-nav
    %span.left
      - if current_article.previous_article
        %i.fa.fa-angle-left
        = link_to current_article.previous_article.title, current_article.previous_article
    %span.right
      - if current_article.next_article
        = link_to current_article.next_article.title, current_article.next_article
        %i.fa.fa-angle-right
  %article
    %h1.article-title= current_article.title
    %section.byline
      %h6.date
        %time= current_article.date.strftime('%b %e, %Y')
      - unless current_article.tags.empty?
        %ul.taglist
          - current_article.tags.each do |tagname|
            %li.tag
              = link_to tag_path(tagname) do
                %i.fa.fa-tag.fa-fw
                = tagname

    %section{:class => "pagenav", 
             "data-magellan-expedition"=>"fixed",
             "data-options"=>"destination_threshold:120;throttle_delay:0;"}
      %dl.sub-nav
    ~ yield

    %footer

  / disqus integration
  %aside.comments
    %h2 Comments
    = partial 'disqus'

