
<% wrap_layout :layout do %>
  <article>
    <h1><%= current_page.data.title %></h1>
    <% if current_page.data.teaser %>
      <div class="teaser">
        <%= image_tag current_page.data.teaser %>
      </div>
      <%= partial "project_links", :locals => {:proj => current_page.data} %>
      <%= yield %>
      <% if current_page.data.citation %>
        <div class="citation">
          <%= current_page.data.citation %>
        </div>
      <% end %>
    <% end %>
  </article>
<% end %>

