
%ul.sociallist.svg
  %li
    = link_to email_url, {:class=>"webicon mail small"} do
      Email
  %li
    = link_to twitter_url, {:class=>"webicon twitter small"} do
      Twitter
  %li
    = link_to facebook_url, {:class=>"webicon facebook small"} do
      Facebook
  %li
    = link_to foursquare_url, {:class=>"webicon foursquare small"} do
      foursquare
  %li
    = link_to github_url, {:class=>"webicon github small"} do
      Github
  %li
    = link_to '/feed.xml', {:class=>"webicon rss small"} do
      RSS

