
%ul.sociallist.fa-lg
  %li
    = link_to email_url do
      %i.fa.fa-envelope
      -#Email
  %li
    = link_to twitter_url do
      %i.fa.fa-twitter
      -#Twitter
  %li
    = link_to facebook_url do
      %i.fa.fa-facebook
      -#Facebook
  %li
    = link_to foursquare_url do
      %i.fa.fa-foursquare
      -#foursquare
  %li
    = link_to github_url do
      %i.fa.fa-github
      -#Github
  %li
    = link_to '/feed.xml' do
      %i.fa.fa-rss
      -#RSS

