
%ul.sociallist.fa-lg
  %li
    = link_to 'mailto:thomas.torsney-weir@univie.ac.at' do
      %i.fa.fa-envelope
      -#Email
  %li
    = link_to 'https://twitter.com/gabysbrain' do
      %i.fa.fa-twitter
      -#Twitter
  %li
    = link_to 'https://www.facebook.com/torsneyt' do
      %i.fa.fa-facebook
      -#Facebook
  %li
    = link_to 'https://foursquare.com/gabysbrain' do
      %i.fa.fa-foursquare
      -#foursquare
  %li
    = link_to 'https://github.com/torsneyt' do
      %i.fa.fa-github
      -#Github
  %li
    = link_to '/feed.xml' do
      %i.fa.fa-rss
      -#RSS

